<div class="task">
  <p>Task 1</p>
  <button (click)="Task1Start()">Start</button>
  {{ currentTime$ | async }}
</div>

<div class="task">
  <p>Task 2</p>
  <input type="text" id="input" placeholder="Task 2" />
  {{ searchInput$ | async }}
</div>

<div class="task">
  <p>Task 3</p>
  <input type="text" id="input1" placeholder="Task 3" />
  <input type="text" id="input2" placeholder="Task 3" />
  {{ result$ | async }}
</div>

<div class="task">
  <p>Task 4</p>
</div>

<div class="task">
  <p>Task 5</p>
  <input type="text" id="input11" placeholder="Task 5" />
  <input type="text" id="input22" placeholder="Task 5" />
  {{ result1$ | async }}
</div>

<div class="task">
  <p>Task 6</p>
</div>

<div class="tast">
  <p>Task 7</p>
  <button (click)="startTimer()">Start</button>
  <button (click)="stopTimer()">Stop</button>
  <p>{{ timer$ | async }}</p>
</div>
