<div class="wrapper">
  <!--search-bars and input field-->
  <div class="top">
    <h2>Homepage</h2>
    <div class="inputs">
      <app-search (displaySearch)="showValue($event)"></app-search>
      <app-filter (displayValue)="showOption($event)"></app-filter>
    </div>
  </div>
  <p class="display-message">{{ displaySearch }}</p>
  <p class="display-message">{{ displayValue }}</p>
  <!---body of the books part of the site-->
  <app-books></app-books>
  <!--rows part-->
  <app-pagination></app-pagination>
</div>
