@import "../styles/variables";

.wrapper {
  margin-top: 25px;
  width: 100%;
  padding: 0px 80px;
}

 h2 {
  font-size: 40px;
  color:$text-color;
}

.inputs {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.display-message {
  color: $text-color;
}
